:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --white: #ffffff;
  --primary-backgr-cl: #2f303a;
  --accent-cl: #2196f3;
  --black: #000000;
  --transp-white: rgba(255, 255, 255, 0.6);
  --border: #ececec;
  --secondary-backgr-cl: #f5f4fa;
  --main-btn-hover: #188ce8;
  --border-portfolio: #eeeeee;
  --client-color: #afb1b8;
  --social-f-col: rgba(255, 255, 255, 0.1);

  --main-font: 'Roboto', sans-serif;
  --secondaty-font: 'Raleway', sans-serif;

  --cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* header section */

.nav__list,
.contacts {
  display: flex;
}
.contacts {
  margin-left: auto;
}
.nav__item:not(:last-child),
.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.header__logo {
  margin-right: 93px;
}
.header__logo,
.footer__logo {
  font-family: var(--secondaty-font); /*view-logo*/
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--accent-cl);
}
.header__part {
  color: var(--black);
}
.header__container {
  display: flex;
  align-items: center;
}

.nav__link,
.contacts__mail,
.contacts__phone {
  font-weight: 500; /*view-header-link*/
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color var(--cubic);
}

.nav__link--curr,
.nav__link:hover,
.nav__link:focus,
.contacts__mail:hover,
.contacts__mail:focus,
.contacts__phone:hover,
.contacts__phone:focus,
.address__mail:hover,
.address__mail:focus,
.address__phone:hover,
.address__phone:focus,
.modal__link {
  color: var(--accent-cl);
}
.nav__link--curr::after {
  position: absolute;
  right: 0;
  bottom: -1px;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-cl);
}
.contacts__mail,
.contacts__phone {
  color: var(--secondary-text-color); /*Специфікація*/

  display: inline-flex; /*SVG*/
  align-items: center; /*SVG*/
}
.nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
/* SVG */
.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

/* main section */
/* hero section */

.hero {
  max-width: 1600px;
  height: 600px;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hw04/hero.jpg);
}

.hero__title {
  max-width: 696px;
  height: 120px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
}
.hero__btn {
  padding: 10px 32px;
}
.modal__btn,
.hero__btn,
.subscribe__btn {
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--white);
  background-color: var(--accent-cl);
  cursor: pointer;
  transition: background-color var(--cubic);
}
.hero__btn:hover,
.hero__btn:focus,
.modal__btn:hover,
.modal__btn:focus,
.subscribe__btn:hover,
.subscribe__btn:focus {
  background-color: var(--main-btn-hover);
}

/* specifisity section */
.specificity__list,
.to-do__list,
.team__list {
  display: flex;
}
.specificity__item {
  width: 270px;
}
.specificity__item:not(:last-child) {
  margin-right: 30px;
}
.specificity__title {
  /*h3 - Bold за замовч.*/

  margin-bottom: 10px;

  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.specificity__text,
.address__text,
.address__mail,
.address__phone {
  font-size: 14px; /*view text*/
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/*SVG*/
.specificity__space {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--secondary-backgr-cl);
  border-radius: 4px;
  margin-bottom: 30px;
}
/* To-do section */
.to-do {
  padding-top: 0;
}
.to-do__img {
  position: relative;
}
.to-do__text {
  position: absolute;
  display: inline-block;

  bottom: 0;
  left: 0;
  width: 100%;
  text-transform: uppercase;
  color: var(--white);
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  background: rgba(47, 48, 58, 0.8);
}
.to-do__img:not(:last-child) {
  margin-right: 30px;
}
.to-do__title,
.team__title,
.clients__title {
  margin-bottom: 50px; /*view-title*/
  text-align: center;

  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
}
/* Team section */
.team__item:not(:last-child) {
  margin-right: 30px;
}

.team__person {
  margin-bottom: 10px;
}

.team__info {
  padding: 30px 10px;
}
.team__item {
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team {
  background-color: var(--secondary-backgr-cl);
}
.team__person {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
}
.team__position {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 16px;
}
/*SVG*/
.team__socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.team__badge,
.join__badge {
  fill: var(--client-color);
  transition: fill var(--cubic);
}
.team__network-link,
.join__network-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color var(--cubic);
}
.team__network-link:hover,
.team__network-link:focus,
.join__network-link:hover,
.join__network-link:focus {
  background-color: var(--accent-cl);
}
.team__network-link:hover .team__badge,
.team__network-link:focus .team__badge {
  fill: var(--white);
}
/*Clients section*/
.clients__list {
  display: flex;
  gap: 30px;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--client-color);
  border-radius: 4px;
  color: var(--client-color);
  transition: color var(--cubic), border var(--cubic);
}
.clients__link:hover,
.clients__link:focus {
  border-color: var(--accent-cl);
  color: var(--accent-cl);
}
.clients__icon {
  display: block;
  fill: currentColor;
  width: 106px;
  height: 60px;
}

/* footer section */
.footer__logo {
  margin-bottom: 20px;
}

.address__text {
  margin-bottom: 9px;
}
.footer {
  padding-bottom: 60px;
  padding-top: 60px;
  background-color: var(--primary-backgr-cl);
}
.address {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  font-style: normal;
  width: 231px;
}
.address__mail {
  margin-bottom: 9px;
}
.address__text,
.footer__part {
  color: var(--white);
}
.address__mail,
.address__phone {
  color: rgba(255, 255, 255, 0.6);
}
.footer__container {
  display: flex;
  align-items: baseline;
}
.join {
  margin-left: 70px;
}
.join__title,
.subscribe__title {
  font-size: 14px;
  font-weight: 700;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 20px;
}
.join__socials {
  display: flex;
  gap: 10px;
}
.join__network-link--background {
  background-color: var(--social-f-col);
  transition: background-color var(--cubic);
}
.join__badge--fill {
  fill: var(--white);
}
/* PORTFOLIO PAGE */

.portfolio__list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.product {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.product__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
}

.product__description {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid var(--border-portfolio);
  border-top: none;
}
.product__title {
  margin-bottom: 4px;

  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
}
.product__type {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.portfolio__item:not(:last-child) {
  margin-right: 8px;
}
.portfolio__btn {
  border: none;
  border-radius: 4px;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--secondary-backgr-cl);
  cursor: pointer;
  transition: background-color var(--cubic), color var(--cubic), box-shadow var(--cubic);
}
.portfolio__btn:hover,
.portfolio__btn:focus {
  color: var(--white);
  background-color: var(--accent-cl);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.product__link {
  display: block;
  transition: box-shadow var(--cubic);
}
.product__link:hover,
.product__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
/*MODAL WINDOW*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: visibility var(--cubic), opacity var(--cubic);
}
.backdrop--hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.backdrop--hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 528px;
  min-height: 581px;
  background-color: var(--white);
  transition: transform var(--cubic);
}
.modal__btn-close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  transform: translate(-8px, 8px);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: fill var(--cubic);
}
.modal__icon-close {
  background-color: var(--white);
}
/*POSITION*/
.product__thumb {
  position: relative;
  overflow: hidden;
}

.product__overlay {
  position: absolute;
  display: inline-block;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform var(--cubic);
}
.product__text {
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 1.56;
  padding: 63px 24px;
  letter-spacing: 0.03em;
  color: var(--white);
}
.product__link:hover .product__overlay {
  transform: translateY(0);
}
/*ФОРМИ*/
textarea {
  resize: none;
}
.modal__form {
  padding: 40px;
}
.modal__primary-field {
  margin-bottom: 20px;
}
.modal__title {
  display: block;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}
.modal__second-field {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}
.modal__second-field:not(:last-child) {
  margin-bottom: 10px;
}

.modal__second-field textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__label {
  margin-bottom: 4px;
}
.modal__input {
  padding: 0;
  padding: 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--cubic), fill var(--cubic), outline var(--cubic);
}
.modal__input--view {
  height: 120px;
  padding-left: 16px;
}
.modal__policy {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.modal__option {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.modal__checkbox {
  appearance: none;
}
.modal__frame {
  display: block;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  transition: border-color var(--cubic), background-color var(--cubic);
}
.modal__symbol {
  position: absolute;
  top: 4px;
  left: 20px;
}
.modal__checkbox:checked ~ .modal__frame {
  background-color: var(--accent-cl);

  background-size: contain;
  background-origin: border-box;
  border-color: var(--accent-cl);
}

.modal__option:hover > .modal__frame,
.modal__option:focus-within > .modal__frame {
  border-color: var(--accent-cl);
}

.modal__btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 52px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.modal__icon {
  position: absolute;
  top: 28px;
  left: 12px;
  transition: border-color var(--cubic), fill var(--cubic);
}
.modal__input:hover + .modal__icon,
.modal__input:focus + .modal__icon,
.modal__input:hover,
.modal__input:focus {
  border-color: var(--accent-cl);
  fill: var(--accent-cl);
  outline: var(--accent-cl);
}
.modal__btn-close:hover,
.modal__btn-close:focus {
  fill: var(--accent-cl);
}
.subscribe {
  margin-left: 93px;
}
.subscribe__field {
  display: flex;
}
.subscribe__input {
  display: block;
  padding: 15px 16px;
  margin-right: 12px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  transition: outline var(--cubic);
}
.subscribe__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  gap: 10px;
  transition: background-color var(--cubic);
}
.subscribe__input:focus {
  outline: transparent;
}
