.portfolio {
  @extend %section;
  &__container {
    @extend %container;
  }
  &__list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
}

.portfolio__item:not(:last-child) {
  margin-right: 8px;
}
